.idea
*.txt
cmake-build-debug
-Wno-framework-include-private-from-public
my.log
std.log
iterator
vector
map
color.cpp
utility
mytest
test_iter_map.hpp


# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
